<!--?xml version="1.0" encoding="UTF-8"? -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="certificate">
	<!-- 증명서코드가져오기 -->
	<select id="certificateCommCode" parameterType="HashMap" resultType="Integer">
		/* /personnel/certificate/certificateMapper.xml - certificateCommCode(증명서코드가져오기) */
		SELECT COMM_CODE 			/*증명서코드*/
		FROM COMMON
		WHERE COMM_NAME = #{crtfSelect}
	</select>
	
	<!-- 증명서 MaxNum -->
	<select id="certificateMaxNum" parameterType="HashMap" resultType="Integer">
		/* /personnel/certificate/certificateMapper.xml - certificateMaxNum(증명서 MaxNum) */
		SELECT
			IFNULL(count(*),0) AS crtfMaxNum /*증명서 MaxNum*/
		FROM CERTIFICATE
		WHERE CRTF_DEL_YN = "N"
				<if test="commCode != null">
					AND COMM_CODE = #{commCode}
				</if>
				<if test="!startDate.equals('') and !endDate.equals('')">
					AND DATE_FORMAT(CRTF_REQUEST_DATE,"%Y-%m-%d") BETWEEN #{startDate} AND #{endDate}
				</if>
				<if test="!progressSituation.equals('전체')">
					AND CRTF_PROGRESS_SITUATION = #{progressSituation}
				</if>
	</select>
	
	<!-- 증명서 정보 가져오기 -->
	<select id="certificateList" parameterType="HashMap" resultType="HashMap">
		/* /personnel/certificate/certificateMapper.xml - certificateList(증명서 정보 가져오기) */
		SELECT
			XX.CRTF_SEQ AS crtfSeq 															/*일련번호*/
			,XX.EMP_EMNO AS empEmno 														/*사원번호*/
			,XX.EMP_NAME AS empName 														/*성명*/
			,COMM_NAME AS commName 															/*증명서종류*/
			,XX.CRTF_USE AS crtfUse 														/*용도*/
			,XX.CRTF_PROGRESS_SITUATION	AS crtfProgressSituation							/*결제여부*/
			,DATE_FORMAT(XX.CRTF_REQUEST_DATE,"%Y-%m-%d") AS crtfRequestDate 				/*신청일*/
			,IFNULL("",DATE_FORMAT(XX.CRTF_ISSUE_DATE,"%Y-%m-%d")) AS crtfIssueDate 		/*발행일*/
		FROM (
			SELECT X.*,EMP_NAME
			FROM (
				SELECT *
				FROM CERTIFICATE
				WHERE CRTF_DEL_YN = "N"
					<if test="commCode != null">
						AND COMM_CODE = #{commCode}
					</if>
					<if test="!startDate.equals('') and !endDate.equals('')">
						AND DATE_FORMAT(CRTF_REQUEST_DATE,"%Y-%m-%d") BETWEEN #{startDate} AND #{endDate}
					</if>
					<if test="!progressSituation.equals('전체')">
						AND CRTF_PROGRESS_SITUATION = #{progressSituation}
					</if>
				)X, EMPLOYEE E
				WHERE X.EMP_EMNO = E.EMP_EMNO
			)XX, COMMON C
		WHERE XX.COMM_CODE = C.COMM_CODE
		ORDER BY XX.CRTF_SEQ DESC
		limit #{noticeCount},#{viewNoticeMaxNum}
	</select>
	
	<!-- 사원정보가져오기 -->
	<select id="empInfo" parameterType="String" resultType="HashMap">
		/* /personnel/certificate/certificateMapper.xml - empInfo(사원정보가져오기) */
		SELECT
			XX.EMP_EMNO AS empEmno 		/*사원번호*/
			,XX.EMP_NAME AS empName 	/*성명*/
			,XX.RANK_NAME AS rankName 	/*직위/직급명*/
			,XX.DEPT_CODE AS deptCode	/*부서코드*/
			,DEPT_NAME AS deptName 		/*부서명*/
		FROM(
				SELECT
					X.*, RANK_NAME
				FROM(
					SELECT
						*
					FROM EMPLOYEE
					WHERE EMP_EMNO = #{emno}					
					)X, RANK R
				WHERE X.RANK_CODE = R.RANK_CODE
			)XX, DEPARTMENT D
		WHERE XX.DEPT_CODE = D.DEPT_CODE
	</select>
	
	<!-- 증명서 상세보기 -->
	<select id="certificateSearchInfo" parameterType="Integer" resultType="HashMap">
	/* /personnel/certificate/certificateMapper.xml - certificateSearchInfo(증명서 상세보기) */
	SELECT
			XX.CRTF_SEQ AS crtfSeq 															/*일련번호*/
			,XX.EMP_EMNO AS empEmno 														/*사원번호*/
			,XX.EMP_NAME AS empName 														/*성명*/
			,COMM_NAME AS commName 															/*증명서종류*/
			,XX.CRTF_USE AS crtfUse 														/*용도*/
			,XX.CRTF_PROGRESS_SITUATION	AS crtfProgressSituation							/*결제여부*/
			,DATE_FORMAT(XX.CRTF_REQUEST_DATE,"%Y-%m-%d") AS crtfRequestDate 				/*신청일*/
			,IFNULL("",DATE_FORMAT(XX.CRTF_ISSUE_DATE,"%Y-%m-%d")) AS crtfIssueDate 		/*발행일*/
		FROM (
			SELECT X.*,EMP_NAME
			FROM (
				SELECT *
				FROM CERTIFICATE
				WHERE CRTF_DEL_YN = "N" AND CRTF_SEQ = #{crtfSeq}
				)X, EMPLOYEE E
				WHERE X.EMP_EMNO = E.EMP_EMNO
			)XX, COMMON C
		WHERE XX.COMM_CODE = C.COMM_CODE
		ORDER BY XX.CRTF_SEQ DESC
	</select>
	
	<!-- 증명서신청 -->
	<insert id="certificateInsert" parameterType="HashMap">
		/* /personnel/certificate/certificateMapper.xml - certificateInsert(증명서신청) */
			INSERT INTO CERTIFICATE
				(
					EMP_EMNO					/*사원번호*/
					,COMM_CODE					/*공통파일코드*/
					,CRTF_USE					/*용도*/
					,CRTF_REQUEST_DATE 			/*신청일자*/
					,CRTF_ISSUE_DATE			/*발행일*/
					,CRTF_PROGRESS_SITUATION 	/*전자결제여부*/
					,CRTF_DEL_YN				/*삭제여부*/				
				)
			VALUES
				(
					#{empEmno}							/*사원번호*/
					,#{commCode}						/*공통파일코드*/
					,#{crtfUse}							/*용도*/
					,DATE_FORMAT(now(),"%Y%m%d%H%i%s")	/*신청일자*/
					,#{crtfIssueDate}					/*발행일*/
					,#{crtfProgressSituation} 			/*전자결제여부*/
					,#{crtfDelYn}						/*삭제여부*/
				)
	</insert>
	
	<!-- 증명서 신청내역 목록 -->
	<select id="certificateRequestList" parameterType="HashMap" resultType="HashMap">
	
		/* /personnel/certificate/certificateMapper.xml - certificateRequestList(증명서 신청내역 목록) */
		SELECT
			XXX.*
		FROM
		(
			SELECT
				XX.CRTF_SEQ AS crtfSeq,												/*일련번호*/
			    XX.EMP_EMNO AS empEmno,												/*사원번호*/
			    XX.EMP_NAME AS empName,												/*사원이름*/
			    C.COMM_NAME AS commName,											/*신청서구분*/
			    XX.CRTF_USE AS crtfUse,												/*용도*/
			    DATE_FORMAT(XX.CRTF_REQUEST_DATE, "%Y-%m-%d") AS crtfRequestDate,	/*신청일*/
			    XX.CRTF_ISSUE_DATE AS crtfIssueDate,								/*발행일*/
			    XX.CRTF_PROGRESS_SITUATION AS crtfProgressSituation,				/*전자결재상태*/
			    XX.CRTF_DEL_YN AS crtfDelYn											/*삭제여부*/
			FROM
				(
			    SELECT
					X.*,
					E.EMP_NAME
				FROM
					(
					SELECT
						*
					FROM CERTIFICATE
					WHERE CRTF_DEL_YN = "N" AND EMP_EMNO = #{empEmno}
					) X, EMPLOYEE E
				WHERE E.EMP_EMNO = X.EMP_EMNO
			) XX, COMMON C
			WHERE XX.COMM_CODE = C.COMM_CODE
			ORDER BY XX.CRTF_SEQ DESC
		) XXX
		<where>
			<if test="crtfSearchSelect != null">
				<choose>
					<when test="crtfSearchSelect == 'certificate'">
						XXX.commName = #{crtfSelect}
					</when>
					<when test="crtfSearchSelect == 'crtfProgressSituation'">
						XXX.crtfProgressSituation = #{crtfSelect}
					</when>
				</choose>
			</if>
		</where>
	
	</select>
	
	<!-- 증명서 삭제 -->
	<update id="certificateDelete" parameterType="HashMap">
		/* /personnel/certificate/certificateMapper.xml - certificateDelete(증명서 삭제) */
		UPDATE 
			CERTIFICATE 
		SET 
			CRTF_DEL_YN = "Y"
		WHERE 
			CRTF_SEQ = #{crtfSeq}
	</update>
	
	<!-- 재직증명서 -->
	<select id="workCertificate" parameterType="HashMap" resultType="HashMap">
		/* /personnel/certificate/certificateMapper.xml - workCertificate(재직증명서) */
		SELECT
			EMP_EMNO AS empEmno 									/*사원번호*/
			,EMP_NAME AS empName 									/*성명*/
			,DATE_FORMAT(EMP_BDAY,"%Y년%m월%d일") AS empBday			/*생년월일*/
			,DATE_FORMAT(EMP_INCO_DATE,"%Y년%m월%d일") AS empIncoDate	/*입사일*/
			,EMP_ADDR AS empAddr 									/*주소*/
		FROM EMPLOYEE
		WHERE EMP_EMNO = #{emno}
	</select>
</mapper>