/* fancy checkbox inline으로 수정 */
.fancy-checkbox-inline {
  display: inline-block;
  font-weight: normal; }
  .fancy-checkbox-inline input[type="checkbox"] {
    display: none; }
    .fancy-checkbox-inline input[type="checkbox"] + span {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      cursor: pointer;
      position: relative;
      font-size: 13px; }
      .fancy-checkbox-inline input[type="checkbox"] + span:before {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        position: relative;
        bottom: 1px;
        width: 18px;
        height: 18px;
        margin-right: 5px;
        content: "";
        border: 1px solid #ccc; }
    .fancy-checkbox-inline input[type="checkbox"]:checked + span:before {
      font-family: FontAwesome;
      content: '\f00c';
      font-size: 12px;
      color: #99a1a7;
      text-align: center;
      line-height: 16px;
      background: #ededed;
      border: 1px solid #ccc; }
  .fancy-checkbox-inline.custom-color-green input[type="checkbox"]:checked + span:before {
    color: #53D76A;
    background-color: #fff; }
  .fancy-checkbox-inline.custom-bgcolor-green input[type="checkbox"]:checked + span:before {
    color: #fff;
    background-color: #53D76A;
    border-color: #32cf4d; 
}

/* fancy radio inline으로 수정 */
.fancy-radio-inline {
  display: inline-block;
  font-weight: normal; }
  .fancy-radio-inline input[type="radio"] {
    display: none; }
    .fancy-radio-inline input[type="radio"] + span {
      display: inline-block;
      cursor: pointer;
      position: relative;
      font-size: 13px; }
      .fancy-radio-inline input[type="radio"] + span i {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        position: relative;
        bottom: 1px;
        content: "";
        border: 1px solid #ccc;
        width: 18px;
        height: 18px;
        margin-right: 5px; }
    .fancy-radio-inline input[type="radio"]:checked + span i:after {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: block;
      position: relative;
      top: 3px;
      left: 3px;
      content: '';
      width: 10px;
      height: 10px;
      background-color: #99a1a7; }
  .fancy-radio-inline.custom-color-green input[type="radio"]:checked + span i:after {
    background-color: #53D76A; }
  .fancy-radio-inline.custom-bgcolor-green input[type="radio"]:checked + span i {
    background-color: #53D76A; }
    .fancy-radio-inline.custom-bgcolor-green input[type="radio"]:checked + span i:after {
      background-color: #fff; }

/* 아스트리크 - 빨간색으로 변경, 사이즈 작게 조절 */
.fa-asterisk-red:before {
  content: "\f069";
  color: #d9534f;
  font-size: 50%;
}


/* 삭제 버튼 아이콘 */
.fa fa-close:after{
  color: #3a3a3a;
  font-size: 100%;	
  cursor: pointer;
	
}

/* 테이블 헤더 컬러 (오름차순 기능 있는 것)*/
.tableColor{
	color: #2D559F; 
}

/* 테이블 스크롤바 */
/*
tbody {
    display:block;
    height:200px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

thead {
    width: calc(100% - 1em);
}
*/