<!--?xml version="1.0" encoding="UTF-8"? -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="department">
	<select id="departmentList" parameterType="HashMap" resultType="HashMap">
		/* /department/departmentMapper.xml - departmentList (학과조회) */
		SELECT
			DEPT_CODE as deptCode	/*학과코드*/
			,DEPT_NAME as deptName 	/*학과명*/
		FROM   DEPARTMENT
		
		WHERE 1=1
		
		<if test="deptCode != null and deptCode != ''">
			AND DEPT_CODE = #{deptCode}
		</if>
		
		<if test="deptName != null and deptName != ''">
			AND DEPT_NAME = #{deptName}
		</if>
		
	</select>
	
	<insert id="departmentInsert" parameterType="HashMap">
		INSERT INTO DEPARTMENT	(
			DEPT_CODE,
			DEPT_NAME,
			DEPT_ENAME,
			CREATE_DATE)
		
		VALUES (
			#{deptCode},
			#{deptName},
			#{deptEname},
			now()
		)	
		
			
	</insert>
</mapper>